<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #3a46c5;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
            main img{
                width: 40px;
                margin-right: 10px;
                position: relative;
                top: 12px;
            }
            main p{
                display: inline-block;
            }

            li{
                display: flex;
                padding-top: 12px;
                align-content: center;
            }

            div{
                flex: 1;
            }

            .delete{
                margin-left: 50px;
            }

        </style>        
    </head>
    
    
    <body>
        <nav>
            <ul>
               
                <li><a href="/logout">Log out</a></li>                        
                <li><a href="/profile">Profile</a></li>

            </ul>
        </nav>
        <header>
            <center><h1>Welcome to your profile, <%= user %></h1></center>
            <ul>
            <%task.forEach((element) => { %>                
                <li><div><%=element.description%></div>
                <div>
                <form method="get" action=<%= "/profile/tasks/delete/"+element._id %> name="hello">                
                    <input class="delete" type="submit" value="Delete" />
                </form>
            </div>
                </li>
            <% })%>
            </ul>
            <br>

            <script>
                function validateForm(formId)
                {
                    var inputs, index;
                    var form=document.getElementById(formId);
                    inputs = form.getElementsByTagName('input');
                    for (index = 0; index < inputs.length; ++index) {
                        // deal with inputs[index] element.
                        if (inputs[index].value==null || inputs[index].value=="")
                        {
                            alert("Field is empty");
                            return false;
                        }
                    }
                }
        </script>
            
            <form method="post" class="post" action="/profile/add" name="hello" id="hello" onsubmit="return validateForm('hello')";">  
                <ul>
                <li>  
                <div>            
                <input class="send" type="text" id="add" name="add" placeholder="Add a new task" required><br>
                </div>  
                <div>
                <input class="send" type="submit" value="ADD" />
                </div>
            </li>
        </ul>
            </form>
        
            
        </header>     
        
        
    </body>
</html>
